body {
  margin: 0;
  background: #2f3640;
}

h1{
  font-family: 'Calibri';
  font-weight: bold;
  color: white;
  align-items: center;
  justify-content: center;
}


b{
  color: rgb(255, 255, 255);
  font-size: 30px;
}

div.gallery {
  margin: 10px;
  float: left;
  width: 180px;
}

div.gallery img {

  border-radius: 30px;
  width: 100%;
  height: auto;
  transition: .4s ease;
}

div.gallery img:hover {
  opacity: .6;
  transform: scale(1.05);
}

div.desc {
  font-family: 'Calibri';
  color: #ccc;
  text-align: center;
}

.flex-container {
  margin: auto;
  width: 60%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  
}
  
.flex-container > div {
  margin: 10px;
}


ul {
  font-family: 'Calibri';
  font-weight: bold;
  font-size: 25px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(15, 15, 15);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(43, 43, 43);
}

.active {
  background-color: #1d1d2c;
}

.center{
  text-align: center;

}
